{% extends 'Common/layout.html' %}

{% block content %}
<div class="card shadow mb-4" style="margin-top: -5px;" id="change_password_form">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-dark">Change Password</h6>
    </div>
    <div class="card-body">
        <form action="" method="post" autocomplete="off">
            <div class="row mt-2">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <label class="font-weight-bold col-form-label" for="oldPassword">Current Password</label>
                    <label class="text-danger">*</label>
                    <input type="password" id="oldPassword" name="oldPassword" class="form-control text-size-13px "
                           placeholder="Enter current password..." style="margin-top: -5px;" required>
                </div>
                <div class="col-lg-4"></div>
            </div>
            <div class="row mt-1">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <label class="font-weight-bold col-form-label" for="newPassword">New Password</label>
                    <label class="text-danger">*</label>
                    <input id="newPassword" name="newPassword" type="password" class="form-control  text-size-13px "
                           placeholder="Enter new password..." style="margin-top: -5px;" required>
                    <div class="mt-2">
                        <span id="error_new_password" class="text-size-13px"></span>
                    </div>
                </div>
                <div class="col-lg-4"></div>
            </div>
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <label class="font-weight-bold col-form-label" for="renewPassword">Confirm Password</label>
                    <label class="text-danger">*</label>
                    <input id="renewPassword" name="renewPassword" type="password" class="form-control  text-size-13px "
                           placeholder="Enter new password again..." style="margin-top: -5px;" required>
                    <div class="mt-1">
                        <span id="error_confirm_password" class="text-size-13px"></span>
                    </div>
                </div>
                <div class="col-lg-4"></div>
            </div>
            <div class="row" style="margin-top: 30px;">
                <div class="col-12">
                    <div style="float:right">
                        <button type="submit" id="btn_change_password" class="btn rounded btn-hover-blue"
                                style="background-color: #056299;color: white;font-size:13px;">
                            <i class="far fa-save fa-lg"></i>
                            &nbsp;Save
                        </button>
                    </div>
                    <div style="float:right; margin-right: 10px;">
                        <a name="btn_refresh_change_password" class="btn btn-success rounded text-white"
                                style="font-size:13px;">
                            <i class="fas fa-sync-alt"></i>
                            &nbsp;Refresh
                        </a>
                    </div>
                    <div style="float:right; margin-right: 335px;">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}