{% extends 'Common/layout.html' %}
{% load static %}

{% block content %}
<div class="card shadow mb-4" style="margin-top: -5px;">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-dark">Personal Information</h6>
    </div>
    <div class="card-body">
        <form action="" method="post" autocomplete="off">
            <div class="row mt-2">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-sm-3">
                            {% if status_image == 1 %}
                            <div class="text-center">
                                <img class="profile-user-img img-fluid rounded-circle img-thumbnail" id="profile_image"
                                     src="" alt="User Image">
                            </div>
                            {% else %}
                            <div class="text-center">
                                <img class="profile-user-img img-fluid rounded-circle img-thumbnail" id="default_image"
                                     name="default_image" src="{% static 'images/default_image.png' %}"
                                     alt="Default Image">
                            </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-sm-12 text-center mt-2">
                                    <span id="fullname_display" class="font-weight-bold" style="font-size: large;">dsfsadf</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 text-center mt-1 cl-darkgrey">
                                    <span>123</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label class=" font-weight-bold col-form-label" for="full_name">Fullname</label>
                                    <label class="text-danger">*</label>
                                    <input type="text" id="full_name" name="full_name"
                                           value="gdsfgfdsg" class="form-control text-size-13px "
                                           placeholder="Enter Fullname..." style=" margin-top: -5px;" required>
                                </div>
                                {% if role_user == 'Teacher' %}
                                <div class="col-lg-6">
                                    <label class=" font-weight-bold col-form-label" for="gender">Gender</label>
                                    <label class="text-danger">*</label>
                                    <select class="custom-select  text-size-13px  h-32px" name="gender"
                                            id="gender" style="margin-top: -5px;">
                                        <option value="0" disabled>--- Gender ---</option>
                                        {% for item in gender_list %}
                                        <option value="item.id" selected="">
                                            {{ item.type }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                {% else %}
                                <div class="col-lg-6">
                                    <label class=" font-weight-bold col-form-label" for="christian_name">Christian
                                        Name</label>
                                    <label class="text-danger">*</label>
                                    <input type="text" name="christian_name" id="christian_name"
                                           value="sfdgsfdg" class="form-control  text-size-13px "
                                           placeholder="Enter Christian Name..." style="margin-top: -5px;" required>
                                </div>
                                {% endif %}
                            </div>
                            <div class="row mt-2">
                                <div class="col-lg-6">
                                    <label class=" font-weight-bold col-form-label" for="birthday">Birthday</label>
                                    <label class="text-danger">*</label>
                                    <input name="birthday" id="birthday" type="date" value=""
                                           class="form-control  text-size-13px " style="margin-top: -5px;" required>
                                </div>
                                {% if role_user == 'Candidate' or role_user == 'Manager' %}
                                <div class="col-lg-6">
                                    <label class=" font-weight-bold col-form-label" for="homeland">Homeland</label>
                                    <label class="text-danger">*</label>
                                    <input name="homeland" id="homeland" type="text" value="dgfsdg"
                                           class="form-control  text-size-13px " placeholder="Enter Homeland..."
                                           style="margin-top: -5px;" required>
                                </div>
                                {% elif role_user == 'Companion' or role_user == 'SpiritualGuide' %}
                                <div class="col-lg-6">
                                    <label class=" font-weight-bold col-form-label" for="group_community">Group
                                        Community</label>
                                    <label class="text-danger">*</label>
                                    <select class="custom-select  text-size-13px  h-32px" name="group_community"
                                            id="group_community" style="margin-top: -5px;" disabled>
                                        <option value="0" disabled>--- Group Community ---</option>
                                        {% for item in group_community_list %}
                                        <option value="item.id" selected="">
                                            {{ item.name }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                {% else %}
                                <div class="col-lg-6">
                                    <label class=" font-weight-bold col-form-label" for="subject">Subject</label>
                                    <label class="text-danger">*</label>
                                    <input name="subject" id="subject" type="text" value="ssgdfgs"
                                           class="form-control  text-size-13px " placeholder="Enter Subject..."
                                           style="margin-top: -5px;" disabled>
                                </div>
                                {% endif %}
                            </div>
                            <div class="row mt-2">
                                <div class="col-lg-6">
                                    <label class=" font-weight-bold col-form-label" for="phone">Phone</label>
                                    <label class="text-danger">*</label>
                                    <input name="phone" id="phone" type="text" value="12321434"
                                           class="form-control  text-size-13px " placeholder="Enter Phone Number..."
                                           style="margin-top: -5px;" required>
                                    <span id="error_phone" class="text-danger text-size-13px"></span>
                                </div>
                                <div class="col-lg-6">
                                    <label class=" font-weight-bold col-form-label" for="email">Email</label>
                                    <label class="text-danger">*</label>
                                    <input name="email" id="email" type="text" value="begin@gmail.com"
                                           class="form-control  text-size-13px " placeholder="Enter Email Address..."
                                           style="margin-top: -5px;" required>
                                    <span id="error_email" class="text-danger text-size-13px"></span>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-lg-6">
                                    <label class=" font-weight-bold col-form-label" for="image_user_info">Image</label>
                                    <input type="file" id="image_user_info" class="form-control rounded text-size-13px"
                                           style="margin-top: -5px;"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 30px;">
                <div class="col-12">
                    <div style="float:right">
                        <button type="submit" class="btn rounded btn-hover-blue" id="btn_save"
                                style="background-color: #056299;color: white;font-size:13px;">
                            <i class="far fa-save fa-lg"></i>
                            &nbsp;Save
                        </button>
                    </div>
                    <div style="float:right; margin-right: 10px;">
                        <a class="btn btn-success text-white rounded" style="font-size:13px;"
                           name="btn_refresh">
                            <i class="fas fa-sync-alt"></i>
                            &nbsp;Refresh
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}