{% extends 'Common/layout.html' %}

{% block content %}
<div class="card shadow mb-4" style="margin-top: -5px;">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-dark">Edit Community Group</h6>
    </div>
    <div class="card-body">
        <form action="" method="post" autocomplete="off">
            <div class="row mt-2">
                <div class="col-lg-4">
                    <label class="font-weight-bold" style="font-size:15px;">Community Group Information:</label>
                    <p style="font-size: 12px;">Information supports to manage many community groups. </p>
                </div>
                <div class="col-lg-4">
                    <label class="font-weight-bold col-form-label" for="group_name">Group Name</label>
                    <label class="text-danger">*</label>
                    <input type="text" id="group_name" name="group_name" class="form-control text-size-13px "
                           placeholder="Enter Group Name..."
                           style=" margin-top: -5px;">
                </div>
                <div class="col-lg-4">
                    <label class="font-weight-bold col-form-label" for="first_community">First Community</label>
                    <label class="text-danger">*</label>
                    <select class="custom-select  text-size-13px  h-32px" name="first_community" id="first_community"
                            style="margin-top: -5px;">
                        <option value="0" disabled selected>--- First Community ---</option>
                        <option>abc</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <label class="font-weight-bold col-form-label" for="second_community">Second Community</label>
                    <label class="text-danger">*</label>
                    <select class="custom-select  text-size-13px  h-32px" name="second_community" id="second_community"
                            style="margin-top: -5px;">
                        <option value="0" disabled selected>--- Second Community ---</option>
                        <option>abc</option>
                    </select>
                </div>
                <div class="col-lg-4">
                    <label class="font-weight-bold col-form-label" for="third_community">Third Community</label>
                    <label class="text-danger">*</label>
                    <select class="custom-select  text-size-13px  h-32px" name="third_community" id="third_community"
                            style="margin-top: -5px;">
                        <option value="0" disabled selected>--- Third Community ---</option>
                        <option>abc</option>
                    </select>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <label class="font-weight-bold col-form-label" for="fourth_community">Fourth Community</label>
                    <label class="text-danger">*</label>
                    <select class="custom-select  text-size-13px  h-32px" name="fourth_community" id="fourth_community"
                            style="margin-top: -5px;">
                        <option value="0" disabled selected>--- Fourth Community ---</option>
                        <option>abc</option>
                    </select>
                </div>
                <div class="col-lg-4">
                    <label class="font-weight-bold col-form-label" for="fifth_community">Fifth Community</label>
                    <label class="text-danger">*</label>
                    <select class="custom-select  text-size-13px  h-32px" name="fifth_community" id="fifth_community"
                            style="margin-top: -5px;">
                        <option value="0" disabled selected>--- Fifth Community ---</option>
                        <option>abc</option>
                    </select>
                </div>
            </div>
            <div class="row" style="margin-top: 30px;">
                <div class="col-12">
                    <div style="float:right">
                        <button type="submit" class="btn rounded btn-hover-blue" id="btn_save"
                                style="background-color: #056299;color: white;font-size:13px;">
                            <i class="far fa-save fa-lg"></i>
                            &nbsp;Save
                        </button>
                    </div>
                    <div style="float:right; margin-right: 10px;">
                        <a class="btn btn-success text-white rounded" style="font-size:13px;" name="btn_refresh">
                            <i class="fas fa-sync-alt"></i>
                            &nbsp;Refresh
                        </a>
                    </div>
                    <div style="float:right; margin-right: 340px;">
                        <a class="btn text-white rounded btn-hover-blue"
                           style="background-color: #056299;color: white;font-size:13px;"
                           href="{% url 'pages:community_group_list' %}">
                            <i class="fas fa-fast-backward"></i>
                            &nbsp;Back To List
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}